body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

label, input, select, button {
    margin-bottom: 10px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#reservations-list ul {
    list-style-type: none;
    padding: 0;
}

#reservations-list li {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 10px;
    margin-bottom: 5px;
}

#delete-button {
    margin-left: 10px;
    background-color: crimson;
}