/* VARIABLES */
:root {
    --primary-color: #be6539;
    --secondary-color: #f3eeea;
    --font-main: "Outfit", sans-serif;
    --font-title: "Bilbo Swash Caps", cursive;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.wrapping-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1.roy {
    color: #333;
}

/* Estilos de la imagen de portada */
.portada {
    width: 100%;
    height: auto;
}

/* Estilos para el formulario horizontal */
.horizontal-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-right: 15px;
    margin-bottom: 15px;
    flex: 1; /* Permite que las form-groups se ajusten */
    min-width: 150px; /* Establece un ancho mínimo */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Se adapta al contenedor */
}

/* Estilos para el botón */
button {
    padding: 10px 15px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la sección de disponibilidad */
#room-availability {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la lista de reservas */
#reservations-list {
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid #ccc;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el mensaje de error */
#error-message {
    color: red;
    margin-top: 10px;
    display: none; /* Inicialmente oculto */
}